<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="Panosen.CodeDom" version="1.5.1" targetFramework="net472" />
  <package id="Panosen.CodeDom.CSharp" version="1.0.4" targetFramework="net472" />
  <package id="Panosen.CodeDom.CSharp.Engine" version="1.0.4" targetFramework="net472" />
  <package id="Panosen.CodeDom.JavaScript" version="1.0.0" targetFramework="net472" />
  <package id="Panosen.CodeDom.JavaScript.Engine" version="1.0.0" targetFramework="net472" />
  <package id="Panosen.Text.Extension" version="1.0.0" targetFramework="net472" />
</packages>