<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net452" />
  <package id="Savory.CodeDom" version="1.13.2" targetFramework="net452" />
  <package id="Savory.CodeDom.Js" version="1.12.6" targetFramework="net452" />
  <package id="Savory.CodeDom.Js.Engine" version="1.12.6" targetFramework="net452" />
  <package id="Savory.Text.Extension" version="1.7.0" targetFramework="net452" />
</packages>